@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

*, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container {
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

button {
	width: 50%;
	height: 50%;
	display: inline-block;
	border: 0;
	outline: 0;
	background-color: orange;
	font-size: 600%;
	color: #FFF;
	font-weight: 700;
	font-family: "PT Sans", sans-serif;
	font-size: 48pt;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}